@import "tailwindcss";

@theme {
  --font-goorm: var(--font-goorm);
}

:root {
}

body {
  background: linear-gradient(180deg, #f7f7f7 0%, #dadce0 100%);
  min-height: 100vh;
  color: var(--foreground);
  font-family: var(--font-goorm), sans-serif;
}

/* 드롭다운 스크롤바 숨기기 */
select::-webkit-scrollbar {
  display: none;
}

select {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
