@import "tailwindcss";

:root {
}

body {
  background: linear-gradient(180deg, #f7f7f7 0%, #dadce0 100%);
  min-height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
