name: Gemini Code Review

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  code-review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Gemini Code Review
        uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          OPENAI_API_ENDPOINT: https://generativelanguage.googleapis.com/v1beta/openai/
          MODEL: gemini-2.0-flash-thinking-exp-1219
          LANGUAGE: ko
          top_p: 1
          temperature: 1
          max_tokens: 10000
